POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=nestjs

# JWT
JWT_SECRET=supersecret_change_me
JWT_EXPIRES=1h

# API
CONSUMER_KEY=consumer_key
CONSUMER_SECRET=consumer_secret

# OAUTH
OAUTH_REDIRECT_URI=oauth_redirect_uri

SESSION_SECRET=session_secret_change_me

FRONTEND_REDIRECT_URI=http://host.docker.internal:3004
FRONTEND_DOMAIN=host.docker.internal

NODE_TLS_REJECT_UNAUTHORIZED=0
